@tailwind base;
@tailwind components;
@tailwind utilities;

.animate_ {
    animation: aosProto 1s ;
}

@keyframes aosProto {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}
.animate_2{
    animation: aosProto2 1s ;
}

@keyframes aosProto2 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}

.rotate{
    animation: rotate 3s infinite;
}
@keyframes rotate {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(90deg);
    }
}